#box01{
    position: absolute;
    left: 220px;
    top: 1px;
}
#box02{
    position: absolute;
    left: 320px;
    top: 30px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color:#414141;
}
#box03{
    position: absolute;
    left: 920px;
    top: 55px;
    cursor: pointer;
}
#box04{
    position: absolute;
    top: 30px;
    left: 960px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    color: #2965BE;
}
:hover#box04{
    color: orangered;
}
#box05{
    position: absolute;
    left: 220px;
    top: 55px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
}
#box06{
    position: absolute;
    left: 220px;
    top: 105px;
    height: 70px;
    width: 980px;
    border: 2px solid #B0CFDA;
    background-color: #B0CFDA;
    border-radius: 5px;
}
#box07{
    position: absolute;
    left: 1080px;
    top: 45px;
    color: white;
    background-color: #ff7700; 
    border-radius: 5px;
    float: right;
    padding: 8px 12px 8px 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
#box08{
    position: absolute;
    left: 250px;
    top: 125px;
    border: 2px solid white;
    background-color: white;
    border-radius: 3px;
    height: 35px;
    width: 250px
}
#box09{
    position: absolute;
    left: 260px;
    top: 135px;
}
#box10{
    position: absolute;
    left: 280px;
    top: 120px;
    font-family: sans-serif;
}
#box11{
    position: absolute;
    left: 335px;
    top: 120px;
    font-family: sans-serif;
    color: darkgray;
}
#box12{
    position: absolute;
    left: 480px;
    top: 115px;
    cursor: pointer;
    font-family: sans-serif;
    color: #2965BE;
    font-size: 20px;
}
#box14{
    position: absolute;
    left: 530px;
    top: 130px;
}
#box16{
    position: absolute;
    top: 125px;
    left: 520px;
}
input.box17{
    height: 35px;
    width: 500px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;    
}
::-webkit-input-placeholder {
   padding-left: 45px;
}
#box15{
    position: absolute;
    top: 200px;
    left: 250px;
    cursor: pointer;
}
.box16{
    position: relative;
    height: 250px;
    width: 350px;
    left: 850px;
    top: 200px;
    border: 2px solid #F1F1F1;
    background-color: #F1F1F1;
    cursor: pointer;
}
#box17{
    position: absolute;
    left: 900px;
    top: 250px;
    cursor: pointer;
    font-size: 30px;
    font-family: sans-serif;
    color: darkslategray;
}
#box18{
    position: absolute;
    left: 8px;
    top: 570px;
}
#box19{
    position: absolute;
    left: 280px;
    top: 600px;
}
#box20{
    position: absolute;
    left: 720px;
    top: 700px;
    cursor: pointer;
}
#box21{
    position: absolute;
    left: 220px;
    top: 800px;
}
#box22{
    position: absolute;
    left: 220px;
    top: 850px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: default;
}
#box23{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 400px;
    top: 780px;
}
:hover#box23{
    color: #FF771F;
}
#box24{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 400px;
    top: 800px;
}
:hover#box24{
    color: #FF771F;
}
#box25{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 400px;
    top: 820px;
}
:hover#box25{
    color: #FF771F;
}
#box26{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 400px;
    top: 840px;
}
:hover#box26{
    color: #FF771F;
}
#box27{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 600px;
    top: 780px;
}
:hover#box27{
    color: #FF771F;
}
#box28{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 600px;
    top: 800px;
}
:hover#box28{
    color: #FF771F;
}
#box29{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 780px;
    top: 780px;
}
:hover#box29{
    color: #FF771F;
}
#box30{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 780px;
    top: 805px;
}
:hover#box30{
    color: #FF771F;
}
#box31{
    color: darkslategray;
    cursor: pointer;
    font-size: 15px;
    font-family: sans-serif;
    position: absolute;
    left: 780px;
    top: 825px;
}
:hover#box31{
    color: #FF771F;
}
#box32{
    color: darkslategray;
    cursor: pointer;
    font-size: 12px;
    font-family: sans-serif;
    position: absolute;
    left: 1000px;
    top: 800px;
}
#box33{
    cursor: pointer;
    position: absolute;
    left: 970px;
    top: 850px;
}
#box34{
    position: absolute;
    left: 1050px;
    top: 125px;
    color: white;
    background-color: #2F73D8; 
    border-radius: 8px;
    border: 2px solid white;
    letter-spacing: 1px; 
    float: right;
    padding: 8px 12px 8px 8px;
    cursor: pointer;
    font-weight: normal;
    font-size: 20px;
}
input#box34{
    width: 120px;
}